<!DOCTYPE html>
<html>
<head>
    <title>Contact Manager</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h2>Contact Management System</h2>

<input type="text" id="username" placeholder="Username">
<input type="text" id="contact" placeholder="Contact Number">

<button onclick="addContact()">Add Contact</button>
<button onclick="getContact()">View Contact</button>
<button onclick="deleteContact()">Delete Contact</button>
<button onclick="getAll()">View All</button>

<pre id="output"></pre>

<script src="/static/script.js"></script>
</body>
</html>